/.venv
/.env
/__pycache__
/vector_store
/vector_store/question_vector
*.pyc
routes/__pycache__/__init__.cpython-312.pyc
routes/__pycache__/upload_routes.cpython-312.pyc
services/__pycache__/pdf_reader.cpython-312.pyc
*.pyc
services/__pycache__/pdf_reader.cpython-312.pyc
sample.pdf
*.pdf
hhservice-data-protection-offices-dl-data.pdf
