Flask==3.1.2
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.43

numpy==2.3.2
pandas==2.3.2

beautifulsoup4==4.13.5
lxml==6.0.1

nltk==3.9.1
spacy==3.8.7
pytextrank==3.3.0

PyMuPDF==1.26.4

sentence-transformers==5.1.0
transformers==4.56.0
torch==2.8.0

faiss-cpu==1.12.0

scikit-learn==1.7.1

python-dotenv==1.1.1

google-generativeai==0.8.5